<!-- Route in in public_views.py -->

{% extends "public/templates/publictemplate.html" %}

{% block title %} Freestyle! {% endblock %}


{% block main %}

<!-- Messages -->

{% for category, message in get_flashed_messages(with_categories=True) %}
<h2 class="alert alert-{{category}}">{{ message }}</h2>
{% endfor %}


<h1>Freestyle!</h1>
<a>Here you can unleash you creativty, you are not bound to any presets or other rules! To get started, just insert the
  ingredients into the physical positions.
  Now you can select the amount you want to obtain at each position.
  <b>Have fun!</b>
</a>

<!-- Input FreestyleForm() -->

<form method="POST">

  {{ form.hidden_tag() }}

  <ul class="list-group list-group-flush">

    {% for nested in form.quantities %}

    <li class="list-group-item" style="background-color: #f1f1f1;">
    
      <ul class="pagination">
        <li class="page-item">Position {{ loop.index }}</li>
        <li class="page-item">{{ nested }}</li>
      </ul>
    
    </li>

    {% endfor %}

  </ul>

  <br>
 
  {{ form.hidden_tag() }}
  {{ form.submit(class="btn btn-secondary") }}

</form>

{% endblock main %}