<!-- Route in in public_views.py -->

{% extends "public/templates/publictemplate.html" %}

{% block title %} Order a drink! {% endblock title %}


{% block main %}

<!-- Messages -->

{% for category, message in get_flashed_messages(with_categories=True) %}
<h2 class="alert alert-{{category}}">{{ message }}</h2>
{% endfor %}


<h1>Drinks!</h1>
<a>Here you find a list with all drinks in our system. Are any missing? Just add them <a href="login">here</a>, but
   don't forget
   that you have to assign them a <a href="position_manager">position</a> afterwards!
</a>

<hr>

<!-- List of all drinks req all_links, all_drinks, all_ingredients -->

{% for drink in all_drinks %}

<div class="list-group">
 
   <!-- Input via normal Html button -->

   <form method="POST" action="">
      <input class="list-group-item list-group-item-action active" type="submit" name="submit_button"
         value="{{ drink.name }}">
   </form>

   {% for ingredient in all_ingredients %}

   {% for link in all_links %}

   {% if link.drink_id == drink.id and link.ingredient_id == ingredient.id%}

   <a class="list-group-item list-group-item-action">
      {{ link.ing_count*2 }}cl
      {{ ingredient.name }}
   </a>

   {% endif %}

   {% endfor %}

   {% endfor %}

</div>

{% endfor %}

{% endblock main %}